<h4>servers works!</h4>

<label for="server-name">Server Name</label>
<input type="text" name="server-name" class="form-control" (input)="onUpdateServerName($event)"><!-- This is one way binding -->

<!-- This is two way binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{serverName}}</p>

<hr>
<button class="btn btn-primary" [disabled]='!allowNewServer' (click)="onCreateServer()">Add Server</button>

<!-- string interpolation -->
 <p>{{allowNewServer}}</p> 
<!-- property binding example-->
<p [innerHTML]="allowNewServer"></p> 


<p>{{serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>